<div class="builder-config-panel-wrapper immersive-title-config-wrapper">
  <div class="builder-config-panel">
    <div class="builder-config-panel-btn title-config-close">
      <i class="builder-invite-close fa fa-check" aria-hidden="true"></i>
    </div>
    <div class="panel-config-row">

      <div class="options-container panel-scrolling-theme" data-option="theme">
        <div class="column-label">{{strings.theme}}</div>
        <div class="panel-column">
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-type="style" data-value="shadow-light" data-shadow="true" data-text="light">
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/titleShadowLightOverDark.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-type="style" data-value="shadow-dark" data-shadow="true" data-text="dark">
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/titleShadowDarkOverLight.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-type="style" data-value="background-dark" data-background="dark" data-text="light">
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/titleSolidLightOverDark.png" />
            </div>
          </div>
          <div class="panel-cfg-item">
            <div class="panel-cfg-item-wrapper fa fa-check" data-type="style" data-value="background-light" data-background="light" data-text="dark">
              <img class="panel-cfg-item-icon" src="resources/tpl/builder/icons/immersive/titleSolidDarkOverLight.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="builder-config-panel-btn title-config-open">
    <i class="builder-invite-open fa fa-pencil" aria-hidden="true"></i>
  </div>
</div>
