/* Prevent rule from Responsive.css that disable app popup on mobile */
/* TODO should flag builder dialog to obly hide them */
.shareDialog.modal.in {
	display: block !important;
}

body.mobile-view .shareDialog {
	margin-top: 40px;
	padding: 20px;
	z-index: 1200;
}

body.mobile-view .shareDialog .modal-body {
	padding: 0 20px;
}

.shareDialog .modal-logo {
	position: absolute;
	top: -19px;
	left: -20px;
	width: 48px;
	height: 48px;
	background: url(../../_resources/icons/builder-share.png);
	background-repeat: no-repeat;
	background-position: 0 -41px;
	background-size: 40px;
	border: 4px solid #FFF;
	border-radius: 24px;
}

.shareDialog .embed-title {
	font-size: 1.3em;
  /* color in .less file */
	margin: 0px 0 5px 0;
}

.shareDialog .social-container {
	text-align: center;
	font-size: 35px;
}

body:not(.mobile-view) .shareDialog .social-container {
	padding: 0 0 15px 0;
}

.shareDialog .share-url-social {
	display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.shareDialog .social-icon {
	padding: 0 8px;
	color: #AAA;
	font-size: 36px;
	cursor: pointer;
}

.shareDialog .social-icon:hover {
	color: #666;
}

body.mobile-view .shareDialog .share-url-container {
	text-align: center;
	margin: 20px 0;
}

body.mobile-view .shareDialog .btn-bitlylink-copy,
body.mobile-view .shareDialog .btn-bitlylink-open,
body.mobile-view .shareDialog .embed-title,
body.mobile-view .shareDialog .share-embed-container {
	display: none;
}

.shareDialog  .share-embed-container .share-btn {
	padding-top: 17px;
}

body.mobile-view .shareDialog .share-url-social {
	flex-direction: column;
	margin-bottom: 0;
}

.dj_ios .shareDialog .share-btn {
	display: none;
}

@media (max-height: 400px) {
	.shareDialog .modal-dialog {
		margin-top: 0;
	}
}

.shareDialog .autoplay-notification {
	color: #3c763d;
	font-weight: bold;
}

/* better tabbing to button */
.shareDialog .btn-default:focus {
    background-color: #005e95;
    color: #fff;
}