<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-logo"></div>
    <div class="modal-header">
      <h4 class="modal-title"></h4>
    </div>

    <div class="modal-body">
      <div class="share-url-social">
        <div class="share-url-panel"></div>
        <div class="share-social-container">
          <i class="social-icon share_print fa fa-print" tabindex="0" aria-label="Print button"></i>
          <i class="social-icon share_facebook fa fa-facebook-square" tabindex="0" aria-label="Share on Facebook button"></i>
          <i class="social-icon share_twitter fa fa-twitter" tabindex="0" aria-label="Share on Twitter button"></i>
        </div>
      </div>

      <div class="embed-title"></div>
      <div class="share-embed-panel"></div>

      <div class="checkbox autoplay-container">
        <label>
          <input type="checkbox" class="autoplay-checkbox" value="autoplay" />
          <span class="autoplay-label"></span>
        </label>
        <span class="help autoplay-help" data-toggle="tooltip">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
        </span>
        <span class="autoplay-notification"></span>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btnCancel btn-naked btn-close" data-dismiss="modal"></button>
    </div>
  </div>
</div>
