<div class="section section-layout-credits" role="contentinfo">

  {{{background}}}

  <div class="foreground">
    <div class="credits">
      {{{credits}}}
    </div>
  </div>
  <div class="builder-section-add-menu"></div>
</div>
