<div class="hiq-accordion-container" id="{{accordionId}}">
  <button class="hiq-accordion" data-toggle="#{{accordionId}}">
  {{{accordionTitleHtml}}}
  <div class="hiq-accordion-triBox"></div>
  </button>
  <div class="hiq-accordion-panel">{{{accordionContentHtml}}}</div>
</div>