<div id="{{id}}" class="audio audio-background media-media media-item">
  <audio type="audio/mpeg" preload controls src="{{url}}"></audio>
</div>
<div class="builder-ui media-cfg-invite"></div>
<div class="builder-ui media-cfg-panel"></div>
