<div id="{{id}}" class="media-empty">
  <div class="me-placeholder"></div>
  <div class="media-empty-add">
    <img class="media-empty-icon-all" src="resources/tpl/builder/icons/text-editor/Media.png" />
    <div class="media-empty-icon-image">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </div>
    <div class="media-empty-label">{{label}}</div>
  </div>
</div>
