<div class="media-loading">
  <span class="large-loader"></span>
</div>
<div id="{{id}}" class="{{classes}} media-item"></div>
<!--<div class="caption">{{caption}}</div>-->
<div class="builder-ui media-cfg-invite"></div>
<div class="builder-ui media-cfg-panel"></div>
