<div class="media-loading">
  <span class="large-loader"></span>
</div>
<div id="{{domId}}" class="video-viewport">
  <div class="media-media media-item video video-player" data-id="{{videoId}}"></div>
</div>
<div class="builder-ui media-cfg-invite"></div>
<div class="builder-ui media-cfg-panel"></div>
