<div class="media-loading">
  <span class="large-loader"></span>
</div>
<div id="{{id}}" class="media-media scene" data-id="{{websceneId}}"></div>
<div class="interaction-container">
  <button class="btn btn-default btn-sm">
    <span class="int-container-disabled">
      <span class="glyphicon glyphicon-fullscreen"></span>
      Explore Map
    </span>
    <span class="int-container-enabled">
      Stop Exploring
    </span>
  </button>
</div>
<div class="builder-ui media-cfg-invite"></div>
<div class="builder-ui media-cfg-panel"></div>
