/*
 * Open Sans latin and greek
 */


@font-face {
  font-family: 'open_sans';
  src: url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-Light-webfont.woff2') format('woff2'),
       url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0370-03FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'open_sans';
  src: url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-Semibold-webfont.woff2') format('woff2'),
       url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0370-03FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'open_sans';
  src: url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-LightItalic-webfont.woff2') format('woff2'),
       url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-LightItalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0370-03FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'open_sans';
  src: url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-SemiboldItalic-webfont.woff2') format('woff2'),
       url('../../../../lib/calcite-bootstrap/css/fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0370-03FF, U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
 * Open Sans extended (cyrillic, cyrillic-ext, latin-ext, greek-ext, vietnamese)
 */

@font-face {
  font-family: 'open_sans';
  src: url('../../../../resources/fonts/opensans-all/open-sans-all-300-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/opensans-all/open-sans-all-300-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'open_sans';
  src: url('../../../../resources/fonts/opensans-all/open-sans-all-600-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/opensans-all/open-sans-all-600-normal.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'open_sans';
  src: url('../../../../resources/fonts/opensans-all/open-sans-all-300-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/opensans-all/open-sans-all-300-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'open_sans';
  src: url('../../../../resources/fonts/opensans-all/open-sans-all-600-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/opensans-all/open-sans-all-600-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/*
 * Noto Serif latin
 */

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin/noto-serif-400-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin/noto-serif-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin/noto-serif-700-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin/noto-serif-700-normal.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin/noto-serif-400-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin/noto-serif-400-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin/noto-serif-700-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin/noto-serif-700-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*
 * Noto Serif latin-ext
 */

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-400-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-700-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-700-normal.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-400-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-400-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-700-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/latin-ext/noto-serif-700-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/*
 * Noto Serif greek
 */

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/greek/noto-serif-400-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/greek/noto-serif-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1F00-1FFF, U+0370-03FF;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/greek/noto-serif-700-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/greek/noto-serif-700-normal.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+1F00-1FFF, U+0370-03FF;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/greek/noto-serif-400-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/greek/noto-serif-400-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+1F00-1FFF, U+0370-03FF;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/greek/noto-serif-700-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/greek/noto-serif-700-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+1F00-1FFF, U+0370-03FF;
}

/*
 * Noto Serif cyrillic
 */

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-400-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-700-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-700-normal.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-400-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-400-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-700-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/cyrillic/noto-serif-700-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/*
 * Noto Serif vietnamese
 */

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-400-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-700-normal.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-700-normal.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-400-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-400-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'noto_serif';
  src: url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-700-italic.woff2') format('woff2'),
       url('../../../../resources/fonts/noto-serif/vietnamese/noto-serif-700-italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

/*
 * Loader
 */

.small-loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../../../resources/tpl/viewer/icons/loading-light.gif') no-repeat;
  background-size: 17px 20px;
  vertical-align: -5px;
  margin-right: 2px;
}

.large-loader {
  display: inline-block;
  width: 33px;
  height: 39px;
  background: url('../../../../resources/tpl/viewer/icons/loading-light.gif');
  background-size: 33px 39px;
  background-repeat: no-repeat;
  margin-left: -19px;
  margin-top: -20px;
}

/*
 * Error box
 */

#loadingOverlay.error {
  position: fixed !important;
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

#fatalError {
	position: fixed;
	display: none;
	z-index: 3000;
	top: 45%;
	left: 0px;
	width: 100%;
}

#fatalError > table {
	margin-top: -42px;
	margin-left:-247px;
	max-width: 490px;
	min-height: 85px;
	background-color: white;
  /* border color in Core.less */
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}

#fatalError .error-title {
	margin-right: 12px;
}

#fatalError .error-msg {
	margin-top: 8px;
	padding-bottom: 8px;
	margin-right: 8px;
}

#fatalError .error-msg .btn {
  white-space: normal;
}

#fatalError-icon {
	background: url('../../../../resources/tpl/viewer/icons/warning-icon.png') 0 0px;
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position: 5px 10px;
}
