.builder-config-section {
  padding: 0 15px;
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  text-align: center;

  &.centered {
    justify-content: center;
  }

  &.larger {
    flex: 3 1 0;
  }

  &.no-spread {
    flex: 0 1 auto;
    max-width: 450px;
  }

  & + & {
    border-left: 1px solid #E8E8E8;
  }

  .title {
     margin-top: 0;
     margin-bottom: 12px;
     flex: 0 1 auto;
  }

  .section-content {
    margin: 0;
    display: flex;

    .config-item {
      cursor: pointer;
    }

    &.vertical-list {
      flex-direction: column;

      .config-item {
        background: #EEE;
        padding: 1px 5px;        

        &.selected {
          background: black;
          color: white;
        }

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }

        &:nth-child(n+2) {
          margin-top: 3px;
        }
      }

      &.checkmarks {
        .config-item {
          background: transparent;
          padding: 0;
        }

        .check {
          cursor: pointer;
          white-space: nowrap;
        }

        .text {
          white-space: nowrap;
        }
      }
    }

    &[name=slides] {
      display: none;
    }

    &.no-slides {
      display: none;
    }
  }

  ul.section-content {
    flex: 1 1 auto;
    list-style-type: none;
    padding-left: 0;
  }

  select.section-content {
    flex: 0 1 40px;
  }

  .aside {
    flex: 0 1 auto;
    font-size: 13px;
    font-style: italic;
    line-height: 1.3;
    margin-top: 7px;
  }

  /* SIZE PANEL */
  .section-content.horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .config-item {
      display: flex;
      flex: 0 1 auto;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
    }

    .config-item + .config-item {
      margin-left: 10px;
    }

    .config-image {
      flex: 0 1 auto;
      width: 90px;
      height: auto;
    }

    .config-label {
      padding: 1px 10px;
    }

    .config-item.selected .config-label {
      background: black;
      color: white;
    }
  }

  .section-content.button {
    flex-direction: column;
    justify-content: space-around;

    .button {
      padding: 15px;
      box-shadow: 0px 0px 11px 4px #CCC;
      cursor: pointer;
      border-radius: 2px;
      text-align: center;

      &:hover {
        background: black;
        color: white;
      }

      &:nth-child(n+2) {
        margin-top: 10px;
      }
    }

    .config-icon {
      margin-right: 2px;
    }

    .whisper {
      font-size: 13px;
    }

    .image-preview {
      display: none;
      background-image: url('https://placehold.it/600x400');
      flex: 1 1 auto;
      background-position: center center;
      background-size: cover;
    }

    .overlay {
      background: rgba(0,0,0,0.5);
      color: white;
      display: flex;
      justify-content: flex-end;

      .icon {
        cursor: pointer;
      }
    }

    &.image-show .image-preview {
      display: block;
    }

    &.image-show .button {
      display: none;
    }
  }
}
