<div class="builder-config-section">
  <div class="section-content button">
    <div class="config-item button" data-action="swap">
      <i class="config-icon fa fa-pencil"></i>
      Change media
    </div>
    <div class="image-preview">
      <div class="overlay">
        <span class="icon">Edit</span>
        <span class="icon">Remove</span>
      </div>
    </div>
  </div>
</div>
<div class="builder-config-section larger">
  <div class="section-content button">
    <div class="config-item button" data-action="edit">
      <i class="config-icon fa fa-external-link"></i>
      Edit
    </div>
  </div>
  <span class="aside">Opens in a new browser tab. After saving your edits, save and reload this story to see your changes.</span>
</div>
<div class="builder-config-section">
  <div class="section-content button">
    <div class="config-item button" data-action="remove">
      <i class="config-icon fa fa-times-circle-o"></i>
      Remove
    </div>
  </div>
</div>
