<div class="builder-config-section centered">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="swap">
      <div class="edit-media-icons">
        <i class="fa fa-image icon-image"></i>
        <i class="fa fa-globe icon-globe"></i>
        <i class="fa fa-map icon-map"></i>
        {{strings.changeMedia}}
      </div>
    </div>
  </div>
</div>
<div class="builder-config-section centered">
  <div class="section-content button">
    <div class="config-item button btn btn-bw" data-action="remove">
      <i class="config-icon fa fa-trash-o"></i>
      {{strings.remove}}
    </div>
  </div>
</div>
