<!--<div class="builder-config-section centered">
  <div class="section-content button">
    <div class="config-item button" data-action="upload-image">
      Upload Alternate Image for Mobile
    </div>
    <div class="image-preview">
      <div class="overlay">
        <span class="icon">Edit</span>
        <span class="icon">Remove</span>
      </div>
    </div>
  </div>
</div>-->
<div class="builder-config-section centered">
  <div class="section-content button">
    <div class="config-item button" data-action="swap">
      <i class="config-icon fa fa-pencil"></i>
      Change media
    </div>
  </div>
</div>
<div class="builder-config-section centered">
  <div class="section-content button">
    <div class="config-item button" data-action="remove">
      <i class="config-icon fa fa-times-circle-o"></i>
      Remove
    </div>
  </div>
</div>
