<div class="builder-config-section">
  <ul class="section-content horizontal">
    <li class="config-item" data-type="size" data-value="small">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/small.png">
      <span class="config-label">{{strings.small}}</span>
    </li>
    <li class="config-item" data-type="size" data-value="medium">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/medium.png">
      <span class="config-label">{{strings.medium}}</span>
    </li>
    <li class="config-item" data-type="size" data-value="large">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/large.png">
      <span class="config-label">{{strings.large}}</span>
    </li>
  </ul>
</div>
