<div class="builder-config-section">
  <ul class="section-content horizontal">
    <li class="config-item" data-type="size" data-value="small">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/small.png">
      <span class="config-label">Small</span>
    </li>
    <li class="config-item" data-type="size" data-value="medium">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/medium.png">
      <span class="config-label">Medium</span>
    </li>
    <li class="config-item" data-type="size" data-value="large">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/large.png">
      <span class="config-label">Large</span>
    </li>
    <!--<li class="config-item" data-type="size" data-value="immersive">
      <img class="config-image" src="resources/tpl/builder/icons/media-config/immersive.png">
      <span class="config-label">Immersive...</span>
    </li>-->
  </ul>
</div>
