<div class="builder-config-section section-appearance no-spread larger">
  <h4 class="title">{{strings.theme}}</h4>
  <ul class="section-content horizontal section-appearance-container">
    <li class="config-item" data-type="style" data-value="shadow-light" data-shadow="true" data-text="light">
      <div class="config-item">
        <i class="check-mark fa fa-check active"></i>
        <img class="config-image" src="resources/tpl/builder/icons/media-config/shadowTextLight.png"/>
      </div>
    </li>
    <li class="config-item" data-type="style" data-value="shadow-dark" data-shadow="true" data-text="dark">
      <div class="config-item">
        <i class="check-mark fa fa-check active"></i>
        <img class="config-image" src="resources/tpl/builder/icons/media-config/shadowTextDark.png"/>
      </div>
    </li>
    <li class="config-item" data-type="style" data-value="background-dark" data-background="dark" data-text="light">
      <div class="config-item">
        <i class="check-mark fa fa-check active"></i>
        <img class="config-image" src="resources/tpl/builder/icons/media-config/backgroundDark.png"/>
      </div>
    </li>
    <li class="config-item" data-type="style" data-value="background-light" data-background="light" data-text="dark">
      <div class="config-item">
        <i class="check-mark fa fa-check active"></i>
        <img class="config-image" src="resources/tpl/builder/icons/media-config/backgroundLight.png"/>
      </div>
    </li>
  </ul>
</div>
