<!--
<div class="builder-config-section larger">
  <h4 class="title">Play</h4>
  <ul class="section-content vertical-list">
    <li class="config-item" data-type="play" data-value="automatic">Play Automatically</li>
    <li class="config-item" data-type="play" data-value="click">Play on Click</li>
  </ul>
</div>
-->
<div class="builder-config-section">
  <h4 class="title">Audio</h4>
  <ul class="section-content vertical-list">
    <li class="config-item" data-type="audio" data-value="on">On</li>
    <li class="config-item" data-type="audio" data-value="muted">Muted</li>
  </ul>
  <span class="aside">The video will autoplay when a reader arrives at this view. If you mute the sound, the reader will not be able to enable it.</span>
</div>
