<!--
<div class="builder-config-section larger">
  <h4 class="title">Play</h4>
  <ul class="section-content vertical-list">
    <li class="config-item btn btn-gray" data-type="play" data-value="automatic">Play Automatically</li>
    <li class="config-item btn btn-gray" data-type="play" data-value="click">Play on Click</li>
  </ul>
</div>
-->
<div class="builder-config-section">
  <h4 class="title">{{strings.audio}}</h4>
  <ul class="section-content vertical-list">
    <li class="config-item btn btn-gray" data-type="audio" data-value="on">{{strings.buttonToEnable}}</li>
    <li class="config-item btn btn-gray" data-type="audio" data-value="muted">{{strings.muted}}</li>
  </ul>
  <span class="aside">{{strings.volumeAside}}</span>
</div>
