<li class="dropdown bookmark-dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-th-list"></span> <span class="caret"></span>
	</a>
	<ul class="dropdown-menu dropdown-menu-right">
		{{{bookmarks}}}
	</ul>
</li>
