<div class="section section-layout-credits-placeholder">

  {{{background}}}

  <div class="foreground">
    <button class="btn btn-primary btn-lg btn-add-credits">{{invite}}</button>
  </div>

  <div class="builder-section-add-menu"></div>
</div>
